# version format
version: v{build}

branches:
  only:
    - master
    - deployment

# Do not build on tags
skip_tags: true

# Skipping commits with particular message or from specific user
skip_commits:
  message: "*[skip ci]*"

image: Visual Studio 2022

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

environment:
# value: <password to decrypt snk file>
  SnkPassword:
    secure: 1svE5KENguPZZA9WI7jqI4rFGWREjMTmt//xbbv+POFKS8BdTi/TE2zB7jU0e7BsYW8G1ZP/4NxjfvnM/EOuH/VxpbyUo8p6fayCu3fDKbLBAt7PWIRCy4mo7SWR0vHAw/Q6cFQHWfA7EVu7eVC66Q==
  opencover_version: 4.7.1221
  codecov_uploader_version: 0.7.1
  report_generator_version: 5.2.0
  PACKAGE_PREFIX: dlebansais

matrix:
# set this flag to immediately finish build once one of the jobs fails.
  fast_finish: true

before_build:
  - nuget restore %APPVEYOR_PROJECT_NAME%.sln
  - nuget install dlebansais.GitCommitId -DependencyVersion Highest -OutputDirectory packages
  - dotnet restore

configuration:
  - Release
  - Debug

build:
  project: $(APPVEYOR_PROJECT_NAME).sln

after_build:
  - nuget install dlebansais.Packager -DependencyVersion Highest -OutputDirectory packages # Install Packager
  - ps: $folder = Get-ChildItem -Path packages/dlebansais.Packager.* -Name | Out-String    # Get the installation folder (we don't know the actual version)
  - ps: $firstline = ($folder -split '\r\n')[0]                                            # Get rid of carriage-return
  - ps: $fullpath = ".\packages\$firstline\lib\net481\Packager.exe"                        # Build full path
  - ps: $env:PACKAGER_PATH=$fullpath
  - '%PACKAGER_PATH% %CUSTOM_PACKAGER_OPTIONS% --prefix=%PACKAGE_PREFIX%'                  # Execute the packager: the output is nuget\%PACKAGE_PREFIX%.%APPVEYOR_PROJECT_NAME%.nuspec
  - if exist nuget\%PACKAGE_PREFIX%.%APPVEYOR_PROJECT_NAME%.nuspec nuget pack nuget\%PACKAGE_PREFIX%.%APPVEYOR_PROJECT_NAME%.nuspec
  - '%PACKAGER_PATH% %CUSTOM_PACKAGER_OPTIONS% --prefix=%PACKAGE_PREFIX% --debug'          # Execute the packager: the output is nuget-debug\%PACKAGE_PREFIX%.%APPVEYOR_PROJECT_NAME%-Debug.nuspec
  - if exist nuget-debug\%PACKAGE_PREFIX%.%APPVEYOR_PROJECT_NAME%-Debug.nuspec nuget pack nuget-debug\%PACKAGE_PREFIX%.%APPVEYOR_PROJECT_NAME%-Debug.nuspec
  - ps: $xml = [xml](Get-Content .\$env:APPVEYOR_PROJECT_NAME\$env:APPVEYOR_PROJECT_NAME.csproj)
  - ps: $version=$xml.Project.PropertyGroup.Version
  - ps: set version_tag v$version
  - ps: $version_tag=$version_tag.Trim()
  - ps: $env:VERSION_TAG=$version_tag
  - echo Version is "%VERSION_TAG%"

test: off

artifacts:
  - path: $(PACKAGE_PREFIX).$(APPVEYOR_PROJECT_NAME)-Debug.*.nupkg
    name: $(APPVEYOR_PROJECT_NAME)-Package-Debug
  - path: $(PACKAGE_PREFIX).$(APPVEYOR_PROJECT_NAME).*.nupkg
    name: $(APPVEYOR_PROJECT_NAME)-Package-Release

deploy:
  - provider: GitHub
    release: $(VERSION_TAG)
    description: 'Automatic deployment'
    auth_token:
      secure: wGFKd2yoaaq7+B6Evl2OZeePPHUzTDlYnDf7DCH26mJZc/nrYGjQ5XGiTZfTWmvW
    artifact: $(APPVEYOR_PROJECT_NAME)-Package-Release
    draft: false
    prerelease: false
    on:
      branch: deployment
      configuration: Release
  - provider: GitHub
    release: $(VERSION_TAG)
    description: 'Automatic deployment'
    auth_token:
      secure: wGFKd2yoaaq7+B6Evl2OZeePPHUzTDlYnDf7DCH26mJZc/nrYGjQ5XGiTZfTWmvW
    artifact: $(APPVEYOR_PROJECT_NAME)-Package-Debug
    draft: false
    prerelease: false
    on:
      branch: deployment
      configuration: Debug
  - provider: NuGet
    artifact: $(APPVEYOR_PROJECT_NAME)-Package-Release
    skip_symbols: true
    api_key:
      secure: nVIiaAk/COoMNi/OIDQ40dFBluznaIlKbpIUkxdA8HFxINY4YNkyis2sBjxByluw
    on:
      branch: deployment
      configuration: Release
  - provider: NuGet
    artifact: $(APPVEYOR_PROJECT_NAME)-Package-Debug
    symbol_server: https://api.nuget.org/v3/index.json
    api_key:
      secure: nVIiaAk/COoMNi/OIDQ40dFBluznaIlKbpIUkxdA8HFxINY4YNkyis2sBjxByluw
    on:
      branch: deployment
      configuration: Debug
  - provider: NuGet
    server: https://nuget.pkg.github.com/dlebansais/index.json
    symbol_server: https://nuget.pkg.github.com/dlebansais/index.json
    artifact: $(APPVEYOR_PROJECT_NAME)-Package-Debug
    username: dlebansais
    api_key:
      secure: 7DLdeObgZf+PG3CwBCFWr2UvW6IFBF4Lwa0SUxFeQbkWr6DJSwNPFDwuKXgX8Wfy
    on:
      branch: deployment
      configuration: Debug
  - provider: NuGet
    server: https://nuget.pkg.github.com/dlebansais/index.json
    artifact: $(APPVEYOR_PROJECT_NAME)-Package-Release
    skip_symbols: true
    username: dlebansais
    api_key:
      secure: 7DLdeObgZf+PG3CwBCFWr2UvW6IFBF4Lwa0SUxFeQbkWr6DJSwNPFDwuKXgX8Wfy
    on:
      branch: deployment
      configuration: Release
